name: Deploy

on:
#   push:
#     branches:
#       - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2

      - uses: actions/setup-java@v5.1.0
        with:
          distribution: 'temurin'
          java-version: '21'

      - uses: gradle/actions/setup-gradle@v5.0.0
        with:
          gradle-version: 8.14.3

      - name: "Build WASM"
        run: gradle :composeApp:wasmJsBrowserDistribution -PMBTA_API_KEY=${{ secrets.MBTA_API_KEY }}

      - uses: actions/configure-pages@v5.0.0

      - uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: ./composeApp/build/dist/wasmJs/productionExecutable

      - uses: actions/deploy-pages@v4.0.5
